---
#################################
#################################
## Super Linter GitHub Actions ##
#################################
#################################
name: 04-2. Lint Code Base

#
# Documentation:
# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#

#############################
# Start the job on all push #
#############################
on:
  push:
    branches-ignore: [main]
    # Remove the line above to run when pushing to main
  pull_request:
    branches: [main]
  workflow_call:
  workflow_dispatch:

###############
# Set the Job #
###############
jobs:
  build:
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

          
      # ##########################
      # #  Prepare Shellcheckrc  #
      # ##########################
      # - name: Prepare Super-Linter shellcheckrc
      #   run: |
      #     mkdir -p .automation/linters
      #     cp linters/.shellcheckrc .automation/linters/.shellcheckrc

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: super-linter/super-linter@v8
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: origin/main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Disable linters added in v8 that fail on pre-existing code
          # todo: Address these in a future story
          # disabled bash for now due to errors with superlinter version 8 and passing a spellcheck file
          #BASH_SEVERITY: error
          #BASH_FILE_NAME: "linters/.shellcheckrc"
          DISABLE_ERRORS: true
          VALIDATE_BASH: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_TRIVY: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
